@import './partials/variabels';
@import './partials/general';

.faq{
    background-color: white;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    margin-top: 7rem;
     background-position: 50% 1%;
    margin-inline: 2rem;   
    border-radius: 25px;
  @include desktop{
      background-image: url(/images/bg-pattern-desktop.svg);
      background-position: -30%  -30%;
      background-size: 500px;
      margin-inline: 7rem;
      margin-top: 1rem;
  }
    &__questions{
     padding: 1rem 1.5rem;
     position:relative;
     top: -5rem;
     @include desktop{
         top: 0;
     }
    }
    &__box{
        display: none;
        @include desktop{
            display: block;
            position: absolute;
            left: -14.7rem;
            top: 23rem;
            transform: scale(0.8);
            z-index: 3333;
        }
    }
 
    &__title{
        color: $heading;
        text-align: center;
        margin-bottom: 1.4rem;
    }
  
    .questions{
        border-bottom: 1px solid #ccc;
        margin-bottom: 1.6rem;
    }

    &__heading{
        display: flex;
        justify-content: space-between;
    }
  &__arrow{
      margin-top: 0.9rem;
      cursor: pointer;
    
    height: 7px;
  }
 &__ques-active{
  color: $heading;
  font-weight: bold;
 }
  &__answers{
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease;
    margin-block: 10px;
  }
  .mobile{
      @include desktop{
          display: none;
      }
  }
  &__answers--active{
      opacity: 1;
      max-height: fit-content;

  }
 


    &__images{
        position: relative;
        bottom: 8rem;
         width: 300px;
         height: auto;
        margin-inline: auto;
    }
  
}
.hidden{
    display: none;
    @include desktop{
       display: block;
       position: relative;
       left: -14rem;
       top: 14rem;
       transform: scale(0.8);
    }
}
